<ion-header>
  <ion-toolbar class="tb">
    <ion-title>Chapter 3 | The New Beginning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> The end of the story is really the beginning for humanity. Humanity is now learning to take it's rightful place on the earth as the reconcilers, the restorers, and the reformers.</p>
  <p>Like a wildfire, the restoration of humanity is spreading across the earth. The children of God are now truly becoming the image and likeness of thier Father the Life Giver and Redeemer.</p>
  <img src="/assets/images/NewBeginning.jpeg" alt="" />
  <br>
 <ion-row>
   <ion-col>
     <div class="ion-text-center">3</div>
   </ion-col>
 </ion-row>
  <ion-button class="ion-float-left" id="btn1" color="secondary" size="small" [routerDirection]="'root'" [routerLink]="['/chapter2']">Back</ion-button>
  <ion-button class="ion-float-right" id="btn2" color="primary" size="small" [routerDirection]="'root'" [routerLink]="['/home']">Home</ion-button>
  <ion-row>
      <ion-col class="cont">
        <ion-button class="toc" id="btn3" color="tertiary" size="small" [routerDirection]="'root'" [routerLink]="['/toc']">TOC
        </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
