<ion-header>
  <ion-toolbar class="tb">
    <ion-title>Chapter 2 | The Rescue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> God passionately loved humanity. His desire for His children to take thier rightful place with Him was stronger
    than any mistake could ever be. </p>
  <p> He decided to restore humanity back to it's rightful place by giving His very life so His children could once
    again live in the fullness of thier created purpose and value.</p>
  <img src="/assets/images/TheRescue.jpeg" alt="" />
  <br>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">2</div>
    </ion-col>
  </ion-row>
  <ion-button class="ion-float-left" id="btn1" color="secondary" size="small" [routerDirection]="'root'"
    [routerLink]="['/chapter1']">BACK</ion-button>
  <ion-button class="ion-float-right" id="btn2" color="primary" size="small" [routerDirection]="'root'"
    [routerLink]="['/chapter3']">Next</ion-button>
  <ion-row>
    <ion-col class="cont">
      <ion-button class="toc" id="btn3" color="tertiary" size="small" [routerDirection]="'root'" [routerLink]="['/toc']">TOC
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>