p {
    padding-left: 20px;
    padding-right: 10px;
}

.tb {
    --background: black;
  }

.cont {
    text-align: center;
  }

#btn1 {
    padding-top: 6px;
  }

#btn2 {
    padding-top: 6px;
}

#btn3 {
    padding-bottom: 4px;
}