<ion-header>
  <ion-toolbar class="tb">
    <ion-title>Chapter 1 | In The Beginning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> In the beginning, God created mankind in His image and likeness, to be like Him.</p> 
    <p>Mankind thought they needed to achieve and obtain to have this identity, however, and they surrendered their rightful place and lost the Way.  </p>
    <img src="/assets/images/TheBeginning.jpeg" alt="" />
  <br>
  <div class="ion-text-center">1</div>
  <ion-button class="ion-float-left" id="btn1" color="secondary" size="small" [routerDirection]="'root'" [routerLink]="['/toc']">Back</ion-button><ion-button class="ion-float-right" id="btn2" color="primary" size="small"  [routerDirection]="'root'" [routerLink]="['/chapter2']">Next</ion-button>
  <ion-row>
      <ion-col class="cont">
        <ion-button class="toc" id="btn3" color="tertiary" size="small" [routerDirection]="'root'" [routerLink]="['/toc']">TOC
        </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
